:host {
  display: block;
}

#pages {
  position: relative;
  display: block;
}

#pages div {
  position: relative;
}

.controls {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  z-index: 1000;
  position: relative;
  display: block;
}

.controls .center {
  display: block;
}

.controls .btn {
  cursor: pointer;
  z-index: 1000;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  opacity: .7;
}

.controls .disabled {
  opacity: .3;
}

.controls .btn-prev {
  left: 0;
  background: url(assets/sh_prev.svg);
}

.controls .btn-next {
  background: url(assets/sh_next.svg); 
  left: 40px;
}

.controls .caption {
  position: relative;
  float: left;
  line-height: 23px;
  padding-left: 90px;
  font-size: 13px;
  font-weight: bold;
  text-align: left; 
}

.conrols .extra-controls {
  float:right;
}

.controls .extra-controls .slide-count {
  display: inline-block;
  line-height: 23px;
  font-size: 12px;
}

.controls .description { 
  text-align: left;
  clear: both; 
}

header {
  padding: 10px;
  background: #5599FF;
  color: white;
}